.atas .active{
	font-weight: bold;
	color: #228329;
}
.breadcrumb{
	margin: 2px;
	background-color: white;
}
.breadcrumb .active{
	font-weight: bold;
}
.breadcrumb a{
	color: #228329;
}
.hero h2{
	font-size: 20px;
	font-weight: 500;
}
.card-details .trip-information th {
    font-size: 18px;
    font-weight: 300;
    color: #071c4D;
}
.hero .icon{
	height: 80px;
}
.hero .icon p{
	font-weight: bold;
}
.jumbotron {
	background-color: #fbffff;
}

.hero .teks{
	margin-top: 0px;
	color: #1c1157;
}
.hero tr{
	border: none;
}
.hero span{
	color: #228329;
	/*margin-left: 30px;*/
	width: 50%;

}
.about .parag{
	margin-top: 20px;
}
.about span{
	font-weight: bold;
	color: #228329;
	font-size: 17px;
}

.footer{
	border-top: 1px solid #ddd; 
	padding: 30px;
}

/*Phone view*/
@media (min-width: 576px) { 
	.hero .teks{
	margin-top: 50px;
}


}